NEXT_PUBLIC_API_URL=https://sua-api.exemplo.com
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=zapflow-higor-2026.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=zapflow-higor-2026
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
